<TMPL_INCLUDE NAME="header-popup.tmpl">

<TMPL_IF NAME=ALL>
<script type="text/javascript">
<!--
function doRedirect () {
    window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=rebuild_all&offset=<TMPL_VAR NAME=OFFSET>&total=<TMPL_VAR NAME=TOTAL>';
}
setTimeout('doRedirect()', 200);
// -->
</script>
</TMPL_IF>

<TMPL_IF NAME=MULTIPLE>
<script type="text/javascript">
<!--
function doRedirect () {
    window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=rebuild_multiple<TMPL_LOOP NAME=BLOG_LOOP>&blog_id=<TMPL_VAR NAME=ID></TMPL_LOOP>&offset=<TMPL_VAR NAME=OFFSET>&total=<TMPL_VAR NAME=TOTAL>';
}
setTimeout('doRedirect()', 200);
// -->
</script>
</TMPL_IF>

<h4 class="message">
Rebuilt <TMPL_VAR NAME=BLOG_TITLE>. Now rebuilding <TMPL_VAR NAME=NEXT_BLOG>.
</h4>

<TMPL_INCLUDE NAME="footer-popup.tmpl">
