<TMPL_INCLUDE NAME="header-popup.tmpl">

<h4 class="message">
Your blogs have been rebuilt.
</h4>

<div>
<input type="button" onclick="window.close()" value="<MT_TRANS phrase="Close">" />
<input type="button" onclick="window.location='<TMPL_VAR NAME=SCRIPT_URL>'" value="<MT_TRANS phrase="Rebuild Again">" />
</div>

<TMPL_INCLUDE NAME="footer-popup.tmpl">
