<TMPL_INCLUDE NAME="header.tmpl">
<div class="padded-box">
<script type="text/javascript">
<!--
function doRedirect () {
    window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=<TMPL_VAR NAME=REBUILD_MODE><TMPL_IF NAME=WHAT>&_type=<TMPL_VAR NAME=WHAT></TMPL_IF><TMPL_IF NAME=BLOG_ID>&blog_id=<TMPL_VAR NAME=BLOG_ID></TMPL_IF><TMPL_LOOP NAME=LOOP>&id=<TMPL_VAR NAME=ID></TMPL_LOOP>&offset=<TMPL_VAR NAME=OFFSET>&total=<TMPL_VAR NAME=TOTAL>';
}
setTimeout('doRedirect()', 200);
// -->
</script>

<h4 class="message">
<img valign="bottom" src="<TMPL_VAR NAME=STATIC_URI>images/ani-rebuild.gif" height="18" width="18" alt="" />&nbsp;Rebuilt <TMPL_VAR NAME=JUST_REBUILT>. Now rebuilding <TMPL_VAR NAME=TO_REBUILD>.
</h4>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
